
body{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(20%);
}


.display{

background-color: black;
    width: 300px;
    height: 100px;
    color: white;
    text-align: center;
    padding: 2rem 0;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calc{
    width: 340px;
}
button{
    margin: 10px;
    width: 50px;
    font-size: 1.34rem;
    height: 50px;
}


